
<div class="container">

  <div class="text-center my-5">
    <h1>グループの詳細画面を表示するよ</h1>
  </div>
  <div class="row my-3">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
      <div class="text-right">
        <%= image_tag @group.get_group_image, size: '200x200' %>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
      <table>
        <tr>
          <th>オーナー</th>
          <td><%= @group.owner.name %></td>
        </tr>
        <tr>
          <th>グループ名</th>
          <td><%= @group.name %></td>
        </tr>
        <tr>
          <th class="mt-3">グループ紹介</th>
        </tr>
      </table>
      <div>
        <%= @group.introduction %>
      </div>
      <% if @group.owner_id == current_user.id %>
        <%= link_to "編集する", edit_group_path(@group), class: 'btn btn-success btn-sm' %>
        <%= link_to "削除する", group_path(@group), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "削除してよいでしょうか?" } %>
      <% end %>

      <% group_user = @group.group_users.find_by(user_id: current_user.id) %>
      <% if group_user %>
        <%= link_to "グループを抜ける", group_group_user_path(@group, current_user), method: :delete, class: 'btn btn-danger btn-sm mt-3' %>
      <% else %>
        <%= link_to "参加する", group_group_users_path(@group), method: :post, class: 'btn btn-warning btn-sm mt-3' %>
      <% end %>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
      <h3 class="text-center">参加メンバー</h3>
      <h4>参加人数：<%= @group.group_users_count %></h4>
      <table class="table">
        <thead>
          <tr>
            <th>プロフィール写真</th>
            <th>名前</th>
          </tr>
        </thead>
        <tbody>
          <% @group.users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
              <td><%= user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>